global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 30s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
scrape_configs:
- job_name: spring-boot
  metrics_path: /actuator/prometheus
  scheme: http
  static_configs:
  - targets:
    - 127.0.0.1:8080